.logout-container {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
}

.logout-content {
    text-align: center;
}

.logout-content h1 {
    font-size: 24px;
    margin-bottom: 16px;
}

.logout-content p {
    font-size: 16px;
    color: #888;
}