.product-details-container {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 50px;
}

.product-image {
    width: 300px;
    height: 300px;
    object-fit: contain;
    margin-right: 20px;
}

.product-info {
    flex: 1;
}

.product-title {
    font-size: 24px;
    font-weight: bolder;
}

.product-description {
    font-size: 24px;
    font-weight: bold;
    color: rgb(5, 5, 5);
}

.but-now-button {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

.go-back-home {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    background-color: #ff00c8;
    border-radius: 10px;
}

.go-back-home:hover {
    background-color: rgb(246, 62, 62);
    color: white;
}
